<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBiometricSignatureServiceBasic">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows"/>
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IBiometricSignatureServiceBasic1">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Basic"/>
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IBiometricSignatureServiceBasic2"/>
                <binding name="BasicHttpBinding_IBiometricAuthenticationServiceBasic">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows"/>
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IBiometricAuthenticationServiceBasic1">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Basic"/>
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IBiometricAuthenticationServiceBasic2"/>
            </basicHttpBinding>
            <customBinding>
                <binding name="WebHttpBinding_IBiometricSignatureServiceBasic">
                    <textMessageEncoding messageVersion="Soap12"/>
                </binding>
                <binding name="WebHttpBinding_IBiometricSignatureServiceBasic1">
                    <textMessageEncoding messageVersion="Soap12"/>
                </binding>
                <binding name="WebHttpBinding_IBiometricSignatureServiceBasic2">
                    <textMessageEncoding messageVersion="Soap12"/>
                </binding>
            </customBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IBiometricSignatureServiceBasic" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="true" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Mtom" textEncoding="utf-8" useDefaultWebProxy="false" allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                    <security>
                        <message establishSecurityContext="false"/>
                    </security>
                </binding>
                <binding name="WSHttpBinding_IBiometricSignatureServiceBasic1" messageEncoding="Mtom">
                    <security mode="None"/>
                </binding>
                <binding name="WSHttpBinding_IBiometricAuthenticationServiceBasic" messageEncoding="Mtom">
                    <security>
                        <message establishSecurityContext="false"/>
                    </security>
                </binding>
                <binding name="WSHttpBinding_IBiometricAuthenticationServiceBasic1" messageEncoding="Mtom">
                    <security mode="None"/>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://p11p-74.11paths.local:8731/SealSignBSSService/BiometricSignatureServiceBasic.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBiometricSignatureServiceBasic" contract="BiometrisSignatureService.IBiometricSignatureServiceBasic" name="BasicHttpBinding_IBiometricSignatureServiceBasic"/>
            <endpoint address="http://p11p-74.11paths.local:8731/SealSignBSSService/BiometricSignatureServiceBasic.svc/WSI" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBiometricSignatureServiceBasic" contract="BiometrisSignatureService.IBiometricSignatureServiceBasic" name="WSHttpBinding_IBiometricSignatureServiceBasic">
                <identity>
                    <dns value="localhost"/>
                </identity>
            </endpoint>
            <endpoint address="http://p11p-74.11paths.local:8731/SealSignBSSService/BiometricSignatureServiceBasic.svc/WS" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBiometricSignatureServiceBasic1" contract="BiometrisSignatureService.IBiometricSignatureServiceBasic" name="WSHttpBinding_IBiometricSignatureServiceBasic1">
                <identity>
                    <dns value="localhost"/>
                </identity>
            </endpoint>
            <endpoint address="http://p11p-74.11paths.local:8731/SealSignBSSService/BiometricSignatureServiceBasic.svc/BI" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBiometricSignatureServiceBasic" contract="BiometrisSignatureService.IBiometricSignatureServiceBasic" name="BasicHttpBinding_IBiometricSignatureServiceBasic1"/>
            <endpoint address="http://p11p-74.11paths.local:8731/SealSignBSSService/BiometricSignatureServiceBasic.svc/BB" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBiometricSignatureServiceBasic1" contract="BiometrisSignatureService.IBiometricSignatureServiceBasic" name="BasicHttpBinding_IBiometricSignatureServiceBasic2"/>
            <endpoint address="http://p11p-74.11paths.local:8731/SealSignBSSService/BiometricSignatureServiceBasic.svc/B" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBiometricSignatureServiceBasic2" contract="BiometrisSignatureService.IBiometricSignatureServiceBasic" name="BasicHttpBinding_IBiometricSignatureServiceBasic3"/>
            <endpoint binding="customBinding" bindingConfiguration="WebHttpBinding_IBiometricSignatureServiceBasic" contract="BiometrisSignatureService.IBiometricSignatureServiceBasic" name="WebHttpBinding_IBiometricSignatureServiceBasic"/>
            <endpoint binding="customBinding" bindingConfiguration="WebHttpBinding_IBiometricSignatureServiceBasic1" contract="BiometrisSignatureService.IBiometricSignatureServiceBasic" name="WebHttpBinding_IBiometricSignatureServiceBasic1"/>
            <endpoint binding="customBinding" bindingConfiguration="WebHttpBinding_IBiometricSignatureServiceBasic2" contract="BiometrisSignatureService.IBiometricSignatureServiceBasic" name="WebHttpBinding_IBiometricSignatureServiceBasic2"/>
            <endpoint address="http://p11p-74.11paths.local:8731/SealSignBASService/BiometricAuthenticationServiceBasic.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBiometricAuthenticationServiceBasic" contract="BiometricAuthenticationService.IBiometricAuthenticationServiceBasic" name="BasicHttpBinding_IBiometricAuthenticationServiceBasic"/>
            <endpoint address="http://p11p-74.11paths.local:8731/SealSignBASService/BiometricAuthenticationServiceBasic.svc/WSI" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBiometricAuthenticationServiceBasic" contract="BiometricAuthenticationService.IBiometricAuthenticationServiceBasic" name="WSHttpBinding_IBiometricAuthenticationServiceBasic">
                <identity>
                    <dns value="localhost"/>
                </identity>
            </endpoint>
            <endpoint address="http://p11p-74.11paths.local:8731/SealSignBASService/BiometricAuthenticationServiceBasic.svc/WS" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBiometricAuthenticationServiceBasic1" contract="BiometricAuthenticationService.IBiometricAuthenticationServiceBasic" name="WSHttpBinding_IBiometricAuthenticationServiceBasic1">
                <identity>
                    <dns value="localhost"/>
                </identity>
            </endpoint>
            <endpoint address="http://p11p-74.11paths.local:8731/SealSignBASService/BiometricAuthenticationServiceBasic.svc/BI" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBiometricAuthenticationServiceBasic" contract="BiometricAuthenticationService.IBiometricAuthenticationServiceBasic" name="BasicHttpBinding_IBiometricAuthenticationServiceBasic1"/>
            <endpoint address="http://p11p-74.11paths.local:8731/SealSignBASService/BiometricAuthenticationServiceBasic.svc/BB" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBiometricAuthenticationServiceBasic1" contract="BiometricAuthenticationService.IBiometricAuthenticationServiceBasic" name="BasicHttpBinding_IBiometricAuthenticationServiceBasic2"/>
            <endpoint address="http://p11p-74.11paths.local:8731/SealSignBASService/BiometricAuthenticationServiceBasic.svc/B" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBiometricAuthenticationServiceBasic2" contract="BiometricAuthenticationService.IBiometricAuthenticationServiceBasic" name="BasicHttpBinding_IBiometricAuthenticationServiceBasic3"/>
        </client>
    </system.serviceModel>
</configuration>
